{{#if schools}}

    <table style="display: block;">
        <tbody style="display: block; width: auto; overflow-x: scroll; white-space: nowrap;">
        <tr>
        {{#each schools as |school|}}
            <td>
                {{#link-to 'school' school class='blue-text'}}
                    <tr>
                      <div class="card school-card">
                          <div class="card-image">
                              <img src="/assets/images/school_stock.jpeg">
                              <span class="card-title">{{school.name}}</span>
                          </div>
                          <div class="card-content">
                              <span class="grey-text">{{miles school.distance}} miles away</span>
                          </div>
                      </div>
                  </tr>
                {{/link-to}}
            </td>
        {{/each}}
        </tr>
    </tbody>
    </table>

{{else}}

    <p>Loading...</p>

{{/if}}
