<div id="sidebar">
    <div id="sidebar-nav">
        <ul>
            <h4>School Admin</h4>
            <li>{{#link-to 'admin'}}General{{/link-to}}</li>
            <li>{{#link-to 'admin.facilities'}}Facilities{{/link-to}}</li>
            <li>{{#link-to 'admin.payments'}}Payments{{/link-to}}</li>
            <li>{{#link-to 'admin.schools'}}All Schools{{/link-to}}</li>
        </ul>
  </div>
</div>
