<h2>Your Received Payments</h2>

<table class="bordered responsive-table highlight">
    <thead>
        <tr>
            <th>Name</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        {{#each model as |payment|}}
            <tr>
                <td>{{payment.stripe.source.name}}</td>
                <td>{{stripe-amount payment.stripe.amount}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>
