<header class="color">

    <div id="logo">
        {{#link-to 'index'}}
            <span>reservEdu</span>
        {{/link-to}}
    </div>

    {{account-info}}

</header>

<div id="container" class="sidebar">

    {{sidebar-main}}

    <div id="content">
        {{outlet}}
    </div>

</div>
