<div id="welcome-banner" class="banner row">
    <div class="banner-img"></div>
    <div class="banner-text col l6 s11">
        <h2>Make a reservation</h2>
        <form id="search-form" class="row" data-ember-action="" data-ember-action-410="410">
            <div class="input_field col l8 s10">
                <input type="text" placeholder="Search for a reservation..." autofocus="" id="search" class="ember-text-field ember-view">
            </div>
            <div class="input_field col l4 s2">
                <button type="submit" class="btn green">Search</button>
            </div>
        </form>
    </div>
</div>

<div id="content" class="no-scroll">
    <h2 class="underline">Local Schools</h2>
    {{closest-schools}}
</div>
