<form id="login-form" class="card-panel" {{action 'authenticate' on='submit'}}>
    <h4>Login</h4>
    {{#if errorMessage}}
        <p class='error'>{{errorMessage}}</p>
    {{/if}}
    <div class="input-field">
        <label for="email">Email</label>
        {{input id='identification' autofocus='true' value=identification }}
    </div>
    <div class="input-field">
        <label for="password">Password</label>
        {{input id='password' type='password' value=password}}
    </div>
    <div class="input-field">
        <button class="btn green" type="submit">Login</button>
    </div>
</form>
