<header>

    <div id="logo">
        {{#link-to 'index'}}
            <span>reservEdu</span>
        {{/link-to}}
    </div>

    {{account-info}}

</header>

<div id="container">

    {{outlet}}

</div>
