<div id="content">

    <h2>{{model.name}}</h2>
    <p>Email: {{model.email}}</p>
    <p>Permissions:
    {{#each-in model.meta.permissions as |permission value|}}
        {{#if value}}
            {{permission}},
        {{/if}}
    {{/each-in}}
    </p>

</div>
